body {
    padding: 5em 0;
}

body.wait *, body.wait {
    cursor:wait !important;
}

h1 {
    padding-bottom: .5em;
}

.navbar .nav > li > a {
    padding-top: 12px;
}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}

.footer p {
  margin-bottom: 0;
  color: #555;
}

.actionbar {
    padding: 1em 0 2em 0;
}

.mini-actionbar {
    padding: 0 0 1em 0;
}

.alert p {
    padding: 0; margin: 4px 0;
}

.duplicate { padding-top: 18px; border-bottom: 1px solid #DDD; }
.duplicate:last-child { border: none; }